<h1>Loja</h1>

<% produtos.forEach(function(produto){ %>
    <%= produto.nome %>
<img src="<%= produto.image %>" style="width: 400px;" alt="">
<%= produto.preco %>
<%= produto.quantidade %>
<%= produto.descricao %>
<%= produto.data %>
<a href="/loja/<%= produto._id %>">Ver</a>
<% }) %>