<% layout('layouts/boilerplate') -%>

<h1>Editar</h1>

<form action="/loja/<%=produto.id%>?_method=PUT" method="POST">
    <div>
            <label for="">Nome: </label>
            <input type="text" value="<%= produto.nome %>" name="produto[nome]">
        </div>
        <div>
            <label for="">Preço: </label>
            <input type="text" value="<%= produto.preco %>" name="produto[preco]">
        </div>
        <div>
            <label for="">Quantidade: </label>
            <input type="text" value="<%= produto.quantidade %>" name="produto[quantidade]">
        </div>
        <div>
            <label for="">Descrição: </label>
            <textarea name="produto[descricao]" id="" cols="30" rows="10"><%= produto.descricao %></textarea>
        </div>
        <div>
            <label for="">Url da Imagem: </label>
            <input type="text" value="<%= produto.image %>" name="produto[image]">
        </div>
        <button>Enviar</button>
</form>