<% layout('layouts/boilerplate') -%>

<h1>Show Page</h1>

<%= produto.nome %>
<img src="<%= produto.image %>" style="width: 400px;" alt="">
<%= produto.preco %>
<%= produto.quantidade %>
<%= produto.descricao %>
<%= produto.data %>

<a href="/loja/<%= produto.id %>/edit" class="btn btn-warning">Editar</a>

<form action="/loja/<%= produto.id %>?_method=DELETE" method="POST">
    <button class="btn btn-danger">Deleter</button>
</form>